a {
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	max-width: 750px;
	min-width: 320px;
	background-color: #fff;
}
header {
	width: 10rem;
	height: 5.12rem;
	background: url(../images/title.png) no-repeat;
	background-size: 10rem 5.12rem;
}
.nav {
	display: flex;
	/* width: 2.7733333333333334rem;
  height: 1.1733333333333333rem; */
	line-height: 1.1733333333333333rem;
	font-size: 0.3466666666666667rem;
	color: #fff;
	justify-content: space-around;
	text-align: center;
	margin: 0.4266666666666667rem 0;
}
.nav a {
	width: 2.7733333333333334rem;
	height: 1.1733333333333333rem;
	border-radius: 0.18666666666666668rem;
}
.nav a:nth-child(1) {
	background-color: #003a9b;
	color: #fff;
}
.nav a:nth-child(n + 2) {
	background-color: #fddf00;
	color: #3b3b3b;
}
.box-hd {
	display: flex;
	align-items: center;
	height: 0.5866666666666667rem;
	line-height: 0.5866666666666667rem;
	font-size: 0.5066666666666667rem;
	margin-left: 0.5066666666666667rem;
}
.box-hd h3 {
	margin: 0;
	color: #333;
}
.box-hd i {
	margin-left: 0.26666666666666666rem;
	width: 1.88rem;
	height: 0.30666666666666664rem;
	background: url(../images/nav.png) no-repeat center center;
	background-size: 1.88rem 0.30666666666666664rem;
}
/* top-bd */
.top-bd ul {
	margin-top: 0.5866666666666667rem;
	display: flex;
	justify-content: space-around;
}
.top-bd li {
	position: relative;
	list-style: none;
	width: 2.7733333333333334rem;
	height: 4.16rem;
	/* background-color: pink; */
	text-align: center;
	border: 0.013333333333333334rem solid #e7e7e7;
	border-radius: 0.21333333333333335rem;
}
.top-bd div {
	width: 2.7733333333333334rem;
	height: 1.88rem;
	background: #f9f9fb url(../images/pic_07.png) no-repeat center center;
	background-size: 2.3466666666666667rem 1.88rem;
	margin: 0 auto;
}
.top-bd li:nth-child(2) div {
	background-image: url(../images/pic2_07.png);
}
.top-bd li:nth-child(3) div {
	background-image: url(../images/pic3_07.png);
}
.top-bd .guoqi,
.top-bd li:nth-child(2) .guoqi,
.top-bd li:nth-child(3) .guoqi {
	margin: 0.24rem 0 0 0.2rem;
	width: 0.37333333333333335rem;
	height: 0.26666666666666666rem;
	background: url(../images/guoqi.png) no-repeat left top;
	background-size: 0.37333333333333335rem 0.26666666666666666rem;
}
.top-bd h4 {
	margin: 0.13333333333333333rem 0.26666666666666666rem 0 0.2rem;
	font-size: 0.24rem;
	text-align: left;
	line-height: 0.4rem;
}
.top-bd .divPrice {
	height: 0.28rem;
	line-height: 0.28rem;
	text-align: left;
	background: none;
}
.top-bd .price {
	font-size: 0.28rem;
	color: #e4007b;
	margin: 0.18666666666666668rem 0 0 0.2rem;
}
.top-bd .shop,
.top-bd li:nth-child(2) .shop,
.top-bd li:nth-child(3) .shop {
	position: absolute;
	bottom: 0.17333333333333334rem;
	right: 0.30666666666666664rem;
	background: url(../images/shopcar.png) no-repeat;
	background-size: 0.64rem 0.5066666666666667rem;
	width: 0.64rem;
	height: 0.5066666666666667rem;
}
/* bottom-bd */
.bottom-bd ul {
	margin: 0.13333333333333333rem 0 0.96rem 0;
	/* margin-top: .5866666666666667rem; */
	height: 11.946666666666667rem;
	/* height: 896px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.bottom-bd li {
	position: relative;
	list-style: none;
	width: 4.266666666666667rem;
	height: 5.706666666666667rem;
	/* background-color: pink; */
	text-align: center;
	border: 0.013333333333333334rem solid #e7e7e7;
	border-radius: 0.21333333333333335rem;
}
.bottom-bd div {
	width: 4.266666666666667rem;
	height: 3.1466666666666665rem;
	background: #f9f9fb url(../images/pic4_03.png) no-repeat center center;
	background-size: 2.3466666666666667rem 1.88rem;
	margin: 0 auto;
}
.bottom-bd li:nth-child(2) div {
	background-image: url(../images/pic5_03.png);
}
.bottom-bd li:nth-child(3) div {
	background-image: url(../images/pic6_03.png);
}
.bottom-bd li:nth-child(4) div {
	background-image: url(../images/pic7_03.png);
}
.bottom-bd .guoqi,
.bottom-bd li:nth-child(2) .guoqi,
.bottom-bd li:nth-child(3) .guoqi,
.bottom-bd li:nth-child(4) .guoqi {
	margin: 0.24rem 0 0 0.2rem;
	width: 0.37333333333333335rem;
	height: 0.26666666666666666rem;
	background: url(../images/guoqi.png) no-repeat left top;
	background-size: 0.37333333333333335rem 0.26666666666666666rem;
}
.bottom-bd h4 {
	margin: 0.13333333333333333rem 0.26666666666666666rem 0 0.2rem;
	font-size: 0.24rem;
	text-align: left;
	line-height: 0.4rem;
}
.bottom-bd .divPrice {
	height: 0.28rem;
	line-height: 0.28rem;
	text-align: left;
	background: none;
}
.bottom-bd .price {
	font-size: 0.28rem;
	color: #e4007b;
	margin: 0.18666666666666668rem 0 0 0.2rem;
}
.bottom-bd .shop,
.bottom-bd li:nth-child(2) .shop,
.bottom-bd li:nth-child(3) .shop,
.bottom-bd li:nth-child(3) .shop {
	position: absolute;
	bottom: 0.17333333333333334rem;
	right: 0.30666666666666664rem;
	background: url(../images/shopcar.png) no-repeat;
	background-size: 0.64rem 0.5066666666666667rem;
	width: 0.64rem;
	height: 0.5066666666666667rem;
}
